.appBar{
    height: 50px;
    background-color: white;
    box-shadow: 0 0 15px black;
    color: blue;
    width: 100vw;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 2;
    /* justify-content: center; */
    align-items: center;
}
.appBar .hamButton{
    cursor: pointer;
    gap: 5px;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    
}
.appBar .hamButton div{
    background-color: blue;
    width: 30px;
    height: 3.5px;
    
}
.title{
    font-size: 26px;
    color: blue;
    position: absolute;
    left: 50%;
    font-family: "exo 2", sans-serif;
    font-weight: 700;
    transform: translateX(-50%);
}

@media (min-width:768px){ /*destop*/
    .appBar .hamButton{
        display: none;
    }   
}