#bestDeals{
    width: 100%;
    height: 450px;
    overflow-x: auto;
    position: relative;
}
#bestDealsContent{
    width: 2600px;
    height: 450px;
    display: flex;
    transition: .35s;
}
#bestDeals::-webkit-scrollbar{
    display: none;
}
.detailed{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.514);
    width: 260px;
    height: 100%;
    padding: 8px;
    cursor: pointer;
}
#right, #left{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(255, 166, 0, 0.658);
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    transition: .35s;
}
#right{
    right: 0;
}
#left:hover, #right:hover{
    background-color: orange;
}
#bestDealsButton{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    /* top: 1020px; */
    top: 250px;
    z-index: 1;
}
.pictureArea{
    height: 260px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:768px){
    #right, #left{
        display: none;
    }
}